@model SerFy_v2._0.Models.Comment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Comments"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (Request.IsAuthenticated)
        {<div class="form-horizontal">
                <h5><b>Create a new Comment: </b></h5>
                @Html.ValidationSummary(true, " ", new { @class = "text-danger" })
                <div>
                    @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "" } })
                </div>
                <input type="submit" value="Send Review" class="btn-default btn" />
                @Html.HiddenFor(model => model.MovieFK)
            </div>
        }

    </div>



}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}