@model SerFy_v2._0.Models.ViewModelCreateFilmePerso

@{
    ViewBag.Title = "ListWriters";
}

<div class="container">
    <div class="row">

        @foreach (var writters in Model.ListWriters)
        {
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label>
                    @if (Model.idsWriters.Contains(writters.ID))
                    {
                        <input type="checkbox" name="@Html.NameFor(c=>c.idsWriters)" checked value="@writters.ID" />

                    }
                    else
                    {
                        <input type="checkbox" name="@Html.NameFor(c=>c.idsWriters)" value="@writters.ID" />

                    }
                    @writters.Name
                </label>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" name="valueButton" value="3" onclick="location.href='@Url.Action("Create", "Writers")'"> Create a new Writer </button>
        </div>
    </div>



</div>
