@model SerFy_v2._0.Models.Actors

@{
    ViewBag.Title = "Details";
}

@if (User.IsInRole("Administrador"))
{
    <div class="container" style="margin-top:30px">
        <div class="row">
            <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Actors", new { id = Model.ID })'">@*@Html.ActionLink("Change", "Edit", new { id = Model.ID })*@Edit Actor</button>
            <button class="btn btn-default btn-danger" onclick="location.href='@Url.Action("Delete", "Actors", new { id = Model.ID })'">@*@Html.ActionLink("Delete", "Delete", new { id = Model.ID })*@Delete Actor</button>@*Not working*@
        </div>
    </div>
}


<div class="container" style="margin-top:40px; margin-bottom:40px;">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Multimedia/Atores/@Model.Photograph" class="img-rounded" style="object-fit: cover;" height="500" width="350" />
        </div>
        <div class="col-lg-4">
            <p style="margin-top:5px"><b>Name :</b>@Model.Name</p>
            <p style="margin-top:5px"><b>Biography :</b>@Model.Minibio</p>
            <p style="margin-top:5px"><b>Birthday:</b> @Model.BD.ToString("dd/MM/yyyy")</p>
            <p style="margin-top:5px"><b>Characters:</b></p>
            @foreach (var i in Model.CharacterList)
            {
                <div style="position: relative; text-align: center; color: black;" onclick="location.href='@Url.Action("Details", "Characters", new { id = i.ID })'">
                    <img src="~/Multimedia/Personagens/@i.Photograph" class="img-responsive img-rounded" />
                    <p style="position: absolute; bottom: 8px;right: 16px; color:dimgrey">@i.Name</p>
                </div>
            }

            <p><b>Movies:</b></p>
            <div class="container"></div>
            <div class="row">
                @foreach (var item in Model.CharacterList)
                {

                    foreach (var item2 in item.MoviesList)
                    {

                        <div class="col-lg-4 col-sm-3" onclick="location.href='@Url.Action("Details", "Movies", new { id = item2.ID })'">
                            <img class="img-rounded" width="100" style="cursor:pointer" src="~/Multimedia/Filme/@item2.Photograph" />

                        </div>

                    }

                }
            </div>
        </div>
    </div>
</div>




