@model SerFy_v2._0.Models.Director

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h4><b>Director:</b> @Model.Name</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img src="~/Multimedia/Directores/@Model.Photograph" class="img-responsive" />
    </div>
    <div class="col-lg-4">
        <p><b>Biography :</b>@Model.MiniBio</p>
        <p><b>Birthday:</b> @Model.Place_BD.ToString("dd/MM/yyyy")</p>
        <p><b>Movie:</b></p>
        <div class="container"></div>
        <div class="row">
            @foreach (var i in Model.MovieList)
            {
                <div class="col-lg-4" style="position: relative; text-align: center; color: black;" onclick="location.href='@Url.Action("Details", "Movies", new { id = i.ID })'">
                    <img src="~/Multimedia/Filme/@i.Photograph" class="img-responsive" />
                    @i.Name
                </div>
            }

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
