@model IEnumerable<SerFy_v2._0.Models.Writer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photograph)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place_DB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiniBio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photograph)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place_DB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiniBio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
